@charset "UTF-8";
/* CSS Document */

/**************Padding*************************/


/*padding xs*/

.pad_xs_0 {
  padding:0px;
}
.pad_xs_xs {
  padding:5px;
}
.pad_xs_s {
  padding:10px;
}
.pad_xs_m {
  padding:15px;
}
.pad_xs_l {
  padding:20px;
}
.pad_xs_xl {
  padding:25px;
}
.pad_xs_xxl {
  padding:30px;
}

.pad_xs_0_t {
  padding-top:0px;
}
.pad_xs_xs_t {
  padding-top:5px;
}
.pad_xs_s_t {
  padding-top:10px;
}
.pad_xs_m_t {
  padding-top:15px;
}
.pad_xs_l_t {
  padding-top:20px;
}
.pad_xs_xl_t {
  padding-top:25px;
}
.pad_xs_xxl_t {
  padding-top:30px;
}

.pad_xs_0_l {
  padding-left:0px;
}
.pad_xs_xs_l {
  padding-left:5px;
}
.pad_xs_s_l {
  padding-left:10px;
}
.pad_xs_m_l {
  padding-left:15px;
}
.pad_xs_l_l {
  padding-left:20px;
}
.pad_xs_xl_l {
  padding-left:25px;
}
.pad_xs_xxl_l {
  padding-left:30px;
}


.pad_xs_0_r {
  padding-right:0px;
}
.pad_xs_xs_r {
  padding-right:5px;
}
.pad_xs_s_r {
  padding-right:10px;
}
.pad_xs_m_r {
  padding-right:15px;
}
.pad_xs_l_r {
  padding-right:20px;
}
.pad_xs_xl_r {
  padding-right:25px;
}
.pad_xs_xxl_r {
  padding-right:30px;
}

.pad_xs_0_b {
  padding-bottom:0px;
}
.pad_xs_xs_b {
  padding-bottom:5px;
}
.pad_xs_s_b {
  padding-bottom:10px;
}
.pad_xs_m_b {
  padding-bottom:15px;
}
.pad_xs_l_b {
  padding-bottom:20px;
}
.pad_xs_xl_b {
  padding-bottom:25px;
}
.pad_xs_xxl_b {
  padding-bottom:30px;
}



/*padding sm*/
@media (min-width: 768px) {

  	.pad_sm_0 {
	  padding:0px;
	}
	.pad_sm_xs {
	  padding:5px;
	}
	.pad_sm_s {
	  padding:10px;
	}
	.pad_sm_m {
	  padding:15px;
	}
	.pad_sm_l {
	  padding:20px;
	}
	.pad_sm_xl {
	  padding:25px;
	}
	.pad_sm_xxl {
	  padding:30px;
	}

	.pad_sm_0_t {
	  padding-top:0px;
	}
	.pad_sm_xs_t {
	  padding-top:5px;
	}
	.pad_sm_s_t {
	  padding-top:10px;
	}
	.pad_sm_m_t {
	  padding-top:15px;
	}
	.pad_sm_l_t {
	  padding-top:20px;
	}
	.pad_sm_xl_t {
	  padding-top:25px;
	}
	.pad_sm_xxl_t {
	  padding-top:30px;
	}

	.pad_sm_0_l {
	  padding-left:0px;
	}
	.pad_sm_xs_l {
	  padding-left:5px;
	}
	.pad_sm_s_l {
	  padding-left:10px;
	}
	.pad_sm_m_l {
	  padding-left:15px;
	}
	.pad_sm_l_l {
	  padding-left:20px;
	}
	.pad_sm_xl_l {
	  padding-left:25px;
	}
	.pad_sm_xxl_l {
	  padding-left:30px;
	}


	.pad_sm_0_r {
	  padding-right:0px;
	}
	.pad_sm_xs_r {
	  padding-right:5px;
	}
	.pad_sm_s_r {
	  padding-right:10px;
	}
	.pad_sm_m_r {
	  padding-right:15px;
	}
	.pad_sm_l_r {
	  padding-right:20px;
	}
	.pad_sm_xl_r {
	  padding-right:25px;
	}
	.pad_sm_xxl_r {
	  padding-right:30px;
	}

	.pad_sm_0_b {
	  padding-bottom:0px;
	}
	.pad_sm_xs_b {
	  padding-bottom:5px;
	}
	.pad_sm_s_b {
	  padding-bottom:10px;
	}
	.pad_sm_m_b {
	  padding-bottom:15px;
	}
	.pad_sm_l_b {
	  padding-bottom:20px;
	}
	.pad_sm_xl_b {
	  padding-bottom:25px;
	}
	.pad_sm_xxl_b {
	  padding-bottom:30px;
	}

}


@media (min-width: 992px) {
 	/*padding md*/
 	.pad_md_0 {
	  padding:0px;
	}
	.pad_md_xs {
	  padding:5px;
	}
	.pad_md_s {
	  padding:10px;
	}
	.pad_md_m {
	  padding:15px;
	}
	.pad_md_l {
	  padding:20px;
	}
	.pad_md_xl {
	  padding:25px;
	}
	.pad_md_xxl {
	  padding:30px;
	}

	.pad_md_0_t {
	  padding-top:0px;
	}
	.pad_md_xs_t {
	  padding-top:5px;
	}
	.pad_md_s_t {
	  padding-top:10px;
	}
	.pad_md_m_t {
	  padding-top:15px;
	}
	.pad_md_l_t {
	  padding-top:20px;
	}
	.pad_md_xl_t {
	  padding-top:25px;
	}
	.pad_md_xxl_t {
	  padding-top:30px;
	}

	.pad_md_0_l {
	  padding-left:0px;
	}
	.pad_md_xs_l {
	  padding-left:5px;
	}
	.pad_md_s_l {
	  padding-left:10px;
	}
	.pad_md_m_l {
	  padding-left:15px;
	}
	.pad_md_l_l {
	  padding-left:20px;
	}
	.pad_md_xl_l {
	  padding-left:25px;
	}
	.pad_md_xxl_l {
	  padding-left:30px;
	}


	.pad_md_0_r {
	  padding-right:0px;
	}
	.pad_md_xs_r {
	  padding-right:5px;
	}
	.pad_md_s_r {
	  padding-right:10px;
	}
	.pad_md_m_r {
	  padding-right:15px;
	}
	.pad_md_l_r {
	  padding-right:20px;
	}
	.pad_md_xl_r {
	  padding-right:25px;
	}
	.pad_md_xxl_r {
	  padding-right:30px;
	}

	.pad_md_0_b {
	  padding-bottom:0px;
	}
	.pad_md_xs_b {
	  padding-bottom:5px;
	}
	.pad_md_s_b {
	  padding-bottom:10px;
	}
	.pad_md_m_b {
	  padding-bottom:15px;
	}
	.pad_md_l_b {
	  padding-bottom:20px;
	}
	.pad_md_xl_b {
	  padding-bottom:25px;
	}
	.pad_md_xxl_b {
	  padding-bottom:30px;
	}


}

@media (max-width: 991px) {
  .pt-md-1 { padding-top: 10px; }
  .pt-md-2 { padding-top: 20px; }
  .pt-md-3 { padding-top: 30px; }
  .pt-md-4 { padding-top: 40px; }
  .pt-md-5 { padding-top: 50px; }
  .pt-md-6 { padding-top: 60px; }
  .pt-md-7 { padding-top: 70px; }
  .pt-md-8 { padding-top: 80px; }
  .pt-md-9 { padding-top: 90px; }
  .pt-md-10 { padding-top: 100px; }

  .pb-md-1 { padding-bottom: 10px; }
  .pb-md-2 { padding-bottom: 20px; }
  .pb-md-3 { padding-bottom: 30px; }
  .pb-md-4 { padding-bottom: 40px; }
  .pb-md-5 { padding-bottom: 50px; }
  .pb-md-6 { padding-bottom: 60px; }
  .pb-md-7 { padding-bottom: 70px; }
  .pb-md-8 { padding-bottom: 80px; }
  .pb-md-9 { padding-bottom: 90px; }
  .pb-md-10 { padding-bottom: 100px; }
}

/*padding lg*/
@media (min-width: 1200px) {

  	.pad_lg_0 {
	  padding:0px;
	}
	.pad_lg_xs {
	  padding:5px;
	}
	.pad_lg_s {
	  padding:10px;
	}
	.pad_lg_m {
	  padding:15px;
	}
	.pad_lg_l {
	  padding:20px;
	}
	.pad_lg_xl {
	  padding:25px;
	}
	.pad_lg_xxl {
	  padding:30px;
	}

	.pad_lg_0_t {
	  padding-top:0px;
	}
	.pad_lg_xs_t {
	  padding-top:5px;
	}
	.pad_lg_s_t {
	  padding-top:10px;
	}
	.pad_lg_m_t {
	  padding-top:15px;
	}
	.pad_lg_l_t {
	  padding-top:20px;
	}
	.pad_lg_xl_t {
	  padding-top:25px;
	}
	.pad_lg_xxl_t {
	  padding-top:30px;
	}

	.pad_lg_0_l {
	  padding-left:0px;
	}
	.pad_lg_xs_l {
	  padding-left:5px;
	}
	.pad_lg_s_l {
	  padding-left:10px;
	}
	.pad_lg_m_l {
	  padding-left:15px;
	}
	.pad_lg_l_l {
	  padding-left:20px;
	}
	.pad_lg_xl_l {
	  padding-left:25px;
	}
	.pad_lg_xxl_l {
	  padding-left:30px;
	}


	.pad_lg_0_r {
	  padding-right:0px;
	}
	.pad_lg_xs_r {
	  padding-right:5px;
	}
	.pad_lg_s_r {
	  padding-right:10px;
	}
	.pad_lg_m_r {
	  padding-right:15px;
	}
	.pad_lg_l_r {
	  padding-right:20px;
	}
	.pad_lg_xl_r {
	  padding-right:25px;
	}
	.pad_lg_xxl_r {
	  padding-right:30px;
	}

	.pad_lg_0_b {
	  padding-bottom:0px;
	}
	.pad_lg_xs_b {
	  padding-bottom:5px;
	}
	.pad_lg_s_b {
	  padding-bottom:10px;
	}
	.pad_lg_m_b {
	  padding-bottom:15px;
	}
	.pad_lg_l_b {
	  padding-bottom:20px;
	}
	.pad_lg_xl_b {
	  padding-bottom:25px;
	}
	.pad_lg_xxl_b {
	  padding-bottom:30px;
	}

}
