.solutions-container {

  .in-pic-left { padding-right: 30px; }
  .in-title {
    h1 {
      &:after { display: none; }
    }
  }

  .in-disruption-opportunities .in-dp-content h3 { font-size: 20px !important; }

  .so-overflow-pic {
    .so-ov-pic-left {
      img { width: 125%; height: auto; }
    }

    .so-ov-pic-right { margin-top: 53%;
      img { width: 125%; height: auto; @include transform(translateX(-19.9%)); }
    }

    @include breakpoint(laptop) {
      .so-ov-pic { height: 250px;
        img { height: 250px; }
        &.so-ov-pic-left {
          img { width: 100%; @include transform(translateX(0)); }
        }
        &.so-ov-pic-right { margin-top: 20px;
          img { width: 100%; @include transform(translateX(0)); }
        }
      }
    };

    @include breakpoint(tablet2) {
      .so-ov-pic {
        &.so-ov-pic-left, &.so-ov-pic-right { margin-left: -30px; margin-right: -30px; }
      }
    };
  }

  .so-full-pic {
    @include breakpoint(laptop) {
      .container { width: 100%; padding-left: 0; padding-right: 0; }
    };
  }

  @include breakpoint(laptop) {
    .in-pic-left { padding-right: 0; }
    .in-pic { padding-top: 50px !important; }
    .in-service-holder { width: auto !important; min-width: 100px !important;
      .in-services-list { width: 50% !important; min-height: 100px !important; }
    }
  };
}

.so-features {
  h3 { @extend .par-large; font-weight: bold; margin-bottom: 0; margin-top: 0; }
  .so-features-list {
    &:before { display: block; position: absolute; top: 0; content: '\f111'; @extend .fa; font-size: 11px; margin-top: 3px; }
    .so-f-l-inner { position: relative; margin-left: 20px; margin-bottom: 25px; overflow: hidden; }
  }
}

.table-holder {
  &::-webkit-scrollbar { height: 0 !important; }
  table { margin-bottom: 0 !important;
    th { text-align: center !important; border-bottom: none !important; border-top: 1px solid #ddd !important; }
    td, th { border-left: 1px solid #ddd;
      &:first-child { border-left: none; }
    }
    tbody {
      > tr {
        &:nth-of-type(odd) { background-color: #f4f4f4 !important; }
        &:last-child {
          td { border-bottom: 1px solid #ddd !important; }
        }
      }
      td { min-width: 130px; max-width: 160px; white-space: inherit !important; }

    }

  }

  @include breakpoint(laptop) {
    border: none; border-left: 1px solid #ddd; border-right: 1px solid #ddd;
  };
}

.video-holder { overflow: hidden;
  iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; }
}

.download {
  .download-inner {
    &.gray { background: #eaeaea; }
    .do-left {
      a { color: $coGreen; }
    }
  }

  @include breakpoint(laptop) {
    .button--bubble__container { float: none !important; margin-top: 20px; }
  };
}

@include breakpoint(laptop) {
  .img-height-auto { height: auto !important;
    img { height: auto !important; }
  }
};
